<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joshi.blipdot">

    <application
        android:allowBackup="true"
        tools:ignore="LockedOrientationActivity"
        android:icon="@mipmap/blipdotlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blipdotlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".StartupActivity" android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".instructionsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".endGameActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".intermediateActivity" android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>